@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Sawarabi+Mincho&display=swap");
$txtColor: #666;
$subColor: #1d809f;
$font-en: "Montserrat", sans-serif;
$font-ja: "Sawarabi Mincho", sans-serif;

@mixin common_s {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@mixin Padding {
  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 80px 40px;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 20px;
  }
}

@mixin animation($x, $y, $transition) {
  &.anime {
    opacity: 0;
    transition: all $transition ease;
    transform: translate($x, $y);
  }
  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin h-fontSize {
  font-family: $font-en;
  text-transform: capitalize;
  &_h2 {
    font-size: 30px;
    letter-spacing: 4px;
  }
  &_h3 {
    font-size: 25px;
    letter-spacing: 2px;
  }
}

body {
  color: $txtColor;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: initial;
  }
}

.s_hero {
  @include common_s;
  background: url(../../dist/img/hero.jpg) no-repeat center/contain;
  padding-top: 66.5vw;
  @media screen and (min-width: 1200px) {
    padding-top: 800px;
  }
  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: $font-en;
    &_h1 {
      font-size: 50px;
      margin: 0;
      letter-spacing: 5px;
    }
    &_h2 {
      font-size: 40px;
      margin: 0;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}

.nav {
  @include common_s;
  ul {
    display: flex;
    text-transform: capitalize;
    font-size: 10px 20px;
    margin: 0 40px;
    border-bottom: 1px solid $subColor;
    li {
      padding: 20px;
      letter-spacing: 2px;
    }
  }
}

.s_profile {
  @include common_s;
  @include Padding;
  display: flex;
  justify-content: center;
  align-items: center;
  &_svg {
    width: 30%;
    position: absolute;
    @include animation(-200px, 0, 800ms);
    &:first-child {
      right: 0;
      top: 80px;
    }
    &:last-child {
      left: 0;
      bottom: 80px;
    }
  }
  &_desc {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include animation(0, 200px, 1000ms);
    @include h-fontSize;
    &_img-wrap img {
      border-radius: 50%;
    }
    &_list {
      font-family: $font-ja;
      &-item {
        margin: 16px 0;
      }
    }
  }
  &_link {
    text-align: center;
    button {
      display: inline-block;
      padding: 7px 20px;
      border-radius: 25px;
      text-decoration: none;
      color: #fff;
      background: rgba($subColor, $alpha: 0.5);
      transition: 0.4s;
      &:hover {
        background: #fff;
        color: $subColor;
      }
    }
  }
}

.s_works {
  @include Padding;
  background: rgba($subColor, $alpha: 0.05);
  @include h-fontSize;
  &_h2 {
    text-align: center;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .inner {
    @include common_s;
  }
  &_article {
    margin: 20px;
    position: relative;
    width: calc(50% - 40px);
    @media screen and (min-width: 768px) {
      &:nth-child(odd) {
        @include animation(0, 200px, 800ms);
      }
      &:nth-child(even) {
        @include animation(0, 200px, 1600ms);
      }
    }
    @media screen and (max-width: 767px) {
      @include animation(0, 200px, 1000ms);
    }
    &_text {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      font-family: $font-ja;
    }
    &_img-wrap {
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: rgba($txtColor, 0.3);
        width: 100%;
        padding-top: 29.2vw;
        transition: all 300ms ease;
        @media screen and (min-width: 1200px) {
          padding-top: 350px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          padding-top: 25.6vw;
        }
      }
    }
    a:hover {
      .s_works_article_img-wrap::before {
        background: rgba($txtColor, 0.7);
      }
    }
  }
}

.footer {
  background: $subColor;
  color: #fff;
  padding: 30px 40px;
  position: relative;
  text-align: center;
  a {
    position: absolute;
    right: 40px;
  }
}
.spinner-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: #fff;
  transition: all 1000ms 0ms ease;
  &.loaded {
    opacity: 0;
    z-index: -100;
  }
  .scaling-squares-spinner {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: scaling-squares-animation 1250ms;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
  }
  .scaling-squares-spinner .square {
    height: calc(65px * 0.25 / 1.3);
    width: calc(65px * 0.25 / 1.3);
    margin-right: auto;
    margin-left: auto;
    border: calc(65px * 0.04 / 1.3) solid $subColor;
    position: absolute;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
  }
  .scaling-squares-spinner .square:nth-child(1) {
    animation-name: scaling-squares-spinner-animation-child-1;
  }
  .scaling-squares-spinner .square:nth-child(2) {
    animation-name: scaling-squares-spinner-animation-child-2;
  }
  .scaling-squares-spinner .square:nth-child(3) {
    animation-name: scaling-squares-spinner-animation-child-3;
  }
  .scaling-squares-spinner .square:nth-child(4) {
    animation-name: scaling-squares-spinner-animation-child-4;
  }
  @keyframes scaling-squares-animation {
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-1 {
    50% {
      transform: translate(150%, 150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-2 {
    50% {
      transform: translate(-150%, 150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-3 {
    50% {
      transform: translate(-150%, -150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-4 {
    50% {
      transform: translate(150%, -150%) scale(2, 2);
    }
  }
}

.js-cursor {
  display: none;
  @media screen and (min-width: 960px) {
    display: block;
    &__main {
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 50%;
      z-index: 1001;
      opacity: 0;
      transition: opacity 0.2s;
      .is-moved & {
        opacity: 1;
      }
      .is-outside & {
        opacity: 0;
      }
    }

    &__option {
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ddd;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.2s 0.2s, background 0.2s;
      .is-moved & {
        opacity: 0.5;
      }
      .is-outside & {
        opacity: 0;
      }
      .is-hover & {
        background: #00ffff;
      }
    }
  }
}
