@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Sawarabi+Mincho&display=swap");
$txtColor: #666;
$subColor: #1d809f;
$font-en: "Montserrat", sans-serif;
$font-ja: "Sawarabi Mincho", sans-serif;

@mixin common_s {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
}
@mixin Padding {
  @media screen and (min-width: 1024px) {
    padding: 8rem 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 8rem 4rem;
  }
  @media screen and (max-width: 767px) {
    padding: 4rem 2rem;
  }
}
@mixin animation($x, $y, $transition) {
  &.anime {
    opacity: 0;
    transition: all $transition ease;
    transform: translate($x, $y);
  }
  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@mixin h-fontSize {
  font-family: $font-en;
  text-transform: capitalize;
  &_h2 {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    @media screen and (max-width: 767px) {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
  }
  &_h3 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
    }
  }
}
body {
  color: $txtColor;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: initial;
  }
  .tab {
    @media screen and (min-width: 1025px) {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      display: block;
    }
    .sp {
      @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}
.s_hero {
  @include common_s;
  background: url(../img/hero.jpg) no-repeat center/contain;
  padding-top: 66.5vw;
  @media screen and (min-width: 1440px) {
    padding-top: 96rem;
  }
  &_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: $font-en;
    &_h1 {
      font-size: 5rem;
      margin: 0;
      letter-spacing: 0.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }
    &_h2 {
      font-size: 4rem;
      margin: 0;
      letter-spacing: 0.1rem;
      font-weight: 400;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 1.4rem;
      }
    }
  }
}
.nav {
  @include common_s;
  @media screen and (max-width: 767px) {
    .s_hero + & {
      display: none;
    }
  }
  ul {
    display: flex;
    text-transform: capitalize;
    margin: 0 4rem;
    border-bottom: 1px solid $subColor;
    @media screen and (max-width: 767px) {
      margin: 0;
      display: flex;
      align-items: center;
    }
    li {
      padding: 2rem;
      letter-spacing: 0.2rem;
      @media screen and (max-width: 767px) {
        letter-spacing: 0.1rem;
        padding: 1rem;
      }
    }
  }
}
.s_profile {
  @include common_s;
  @include Padding;
  display: flex;
  justify-content: center;
  align-items: center;
  &_svg {
    width: 30%;
    position: absolute;
    @include animation(-20rem, 0, 800ms);
    &:first-child {
      right: 0;
      top: 8rem;
      @media screen and (max-width: 767px) {
        top: 2.5rem;
      }
    }
    &:last-child {
      left: 0;
      bottom: 8rem;
      @media screen and (max-width: 767px) {
        bottom: 2.5rem;
      }
    }
  }
  &_desc {
    padding: 10rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include animation(0, 20rem, 1000ms);
    @include h-fontSize;
    @media screen and (max-width: 767px) {
      padding: 0rem 0rem;
    }
    &_img-wrap img {
      border-radius: 50%;
    }
    &_list {
      font-family: $font-ja;
      &-item {
        margin: 1.6rem 0;
      }
    }
  }
  &_link {
    text-align: center;
    button {
      display: inline-block;
      padding: 0.7rem 2rem;
      border-radius: 2.5rem;
      text-decoration: none;
      color: #fff;
      background: rgba($subColor, $alpha: 0.5);
      transition: 0.4s;
      &:hover {
        background: #fff;
        color: $subColor;
      }
    }
  }
}
.s_works {
  @include Padding;
  background: rgba($subColor, $alpha: 0.05);
  @include h-fontSize;
  &_h2 {
    text-align: center;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  .inner {
    @include common_s;
  }
  &_article {
    margin: 20px;
    position: relative;
    width: calc(50% - 4rem);
    @media screen and (max-width: 1024px) {
      margin: 2rem 0;
      width: 100%;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) {
      &:nth-child(odd) {
        @include animation(0, 20rem, 800ms);
      }
      &:nth-child(even) {
        @include animation(0, 20rem, 1600ms);
      }
    }
    @media screen and (max-width: 767px) {
      @include animation(0, 20rem, 1000ms);
    }
    &_text {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      font-family: $font-ja;
      &_h2 {
        font-size: 1.8rem;
        word-break: keep-all;
      }
      &_caption {
        font-size: 1.6rem;
        @media screen and (max-width: 767px) {
          font-size: 1.4rem;
        }
      }
    }
    &_img-wrap {
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: rgba($txtColor, 0.3);
        width: 100%;
        top: 0;
        bottom: 0;
        transition: all 300ms ease;
      }
    }
    a:hover {
      .s_works_article_img-wrap::before {
        background: rgba($txtColor, 0.7);
      }
    }
  }
}
.footer {
  background: $subColor;
  color: #fff;
  padding: 3rem 4rem;
  position: relative;
  text-align: center;
  @media screen and (max-width: 767px) {
    padding: 1rem 2rem;
  }
  a {
    position: absolute;
    right: 4rem;
  }
}
.spinner-wrap {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: #fff;
  transition: all 1000ms 0ms ease;
  &.loaded {
    opacity: 0;
    z-index: -100;
  }
  .scaling-squares-spinner {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: scaling-squares-animation 1250ms;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
  }
  .scaling-squares-spinner .square {
    height: calc(65px * 0.25 / 1.3);
    width: calc(65px * 0.25 / 1.3);
    margin-right: auto;
    margin-left: auto;
    border: calc(65px * 0.04 / 1.3) solid $subColor;
    position: absolute;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
  }
  .scaling-squares-spinner .square:nth-child(1) {
    animation-name: scaling-squares-spinner-animation-child-1;
  }
  .scaling-squares-spinner .square:nth-child(2) {
    animation-name: scaling-squares-spinner-animation-child-2;
  }
  .scaling-squares-spinner .square:nth-child(3) {
    animation-name: scaling-squares-spinner-animation-child-3;
  }
  .scaling-squares-spinner .square:nth-child(4) {
    animation-name: scaling-squares-spinner-animation-child-4;
  }
  @keyframes scaling-squares-animation {
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-1 {
    50% {
      transform: translate(150%, 150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-2 {
    50% {
      transform: translate(-150%, 150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-3 {
    50% {
      transform: translate(-150%, -150%) scale(2, 2);
    }
  }
  @keyframes scaling-squares-spinner-animation-child-4 {
    50% {
      transform: translate(150%, -150%) scale(2, 2);
    }
  }
}
.js-cursor {
  display: none;
  @media screen and (min-width: 960px) {
    display: block;
    &__main {
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 0.1rem;
      height: 0.1rem;
      background: #000;
      border-radius: 50%;
      z-index: 1001;
      opacity: 0;
      transition: opacity 0.2s;
      .is-moved & {
        opacity: 1;
      }
      .is-outside & {
        opacity: 0;
      }
    }

    &__option {
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: #ddd;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.2s 0.2s, background 0.2s;
      .is-moved & {
        opacity: 0.5;
      }
      .is-outside & {
        opacity: 0;
      }
      .is-hover & {
        background: #00ffff;
      }
    }
  }
}
.work-page {
  @include Padding;
  font-family: $font-ja;
  @media screen and (max-width: 767px) {
    padding: 2rem;
  }
  .work {
    margin: 0px auto;
    max-width: 88rem;
  }
  .swiper-container {
    margin: 4rem auto;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      margin: 1.5rem 0;
    }
  }
  h3 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }
  h4 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: $font-en;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }
  p {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }
  .link {
    display: flex;
    justify-content: space-between;
  }
}
.profile-page {
  @include Padding;
  font-family: $font-ja;
  @media screen and (max-width: 767px) {
    padding: 2rem;
  }
  .s_about {
    margin: 4rem auto;
    max-width: 88rem;
    @include h-fontSize;
    @media screen and (max-width: 767px) {
      margin: 1rem auto;
    }
    &_container {
      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      &_fig {
        width: 35%;
        @include animation(0, -200px, 500ms);
        @media screen and (max-width: 767px) {
          width: 100%;
          .img-wrap {
            text-align: center;
          }
        }
        img {
          border-radius: 50%;
          margin-bottom: 2rem;
          @media screen and (max-width: 767px) {
            margin-bottom: 1rem;
          }
        }
        &_caption {
          font-size: 1.8rem;
          letter-spacing: 0.2rem;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 767px) {
            font-size: 1.4rem;
          }
          li {
            padding: 1.6rem 0 0;
            @media screen and (max-width: 767px) {
              padding: 1rem 0 0;
            }
          }
        }
      }
      &_article {
        @include animation(5rem, 10rem, 500ms);
        &-wrap {
          width: 60%;
          margin: 0 0 0 5%;
          @media screen and (max-width: 767px) {
            margin: 0;
            width: 100%;
          }
        }
        &_title {
          font-size: 2rem;
          border-bottom: 1px solid $subColor;
          margin: 3rem 0;
          @media screen and (max-width: 767px) {
            letter-spacing: 2px;
            font-size: 1.3rem;
            margin: 3rem 0 1rem;
          }
        }
      }
    }
  }
  .s_skill {
    margin: 4rem auto;
    max-width: 88rem;
    @include h-fontSize;
    @media screen and (max-width: 767px) {
      margin: 4rem auto 2rem;
    }
    &_container {
      display: flex;
      padding: 4rem 8rem;
      @media screen and (max-width: 767px) {
        padding: 0;
        flex-direction: column;
      }
      &_item {
        width: calc(100% / 3 - 4rem);
        margin: 0 20px;
        @media screen and (min-width: 768px) {
          &:first-child {
            @include animation(0px, 20rem, 600ms);
          }
          &:nth-child(2) {
            @include animation(0px, 20rem, 1200ms);
          }
          &:last-child {
            @include animation(0px, 20rem, 1500ms);
          }
        }
        @media screen and (max-width: 767px) {
          @include animation(5rem, 10rem, 500ms);
          margin: 2rem 0 0rem;
          width: 100%;
        }
        &_title {
          font-size: 2rem;
        }
        li {
          margin: 1rem 0 1.6rem 1rem;
        }
      }
    }
    &::after {
      content: "*は現在学習中";
      display: block;
      text-align: right;
    }
  }
}
